<div class="form-group">
    <h2>
        {{ 'Product Text'|trans({}, 'Modules.Jnfproducttext.Admin') }}
        <span class="help-box" data-toggle="popover" 
            data-content="{{ 'This text will be shown on the Product Page.'|trans({}, 'Modules.Jnfproducttext.Admin') }}"></span>
    </h2>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <textarea class="w-100" rows="6" name="product_text">{{ product_text }}</textarea>
            <span class="small font-secondary">
                {{ 'You can also use HTML tags.'|trans({}, 'Modules.Jnfproducttext.Admin') }}
            </span>
            {% if id_producttext != false %}
                <input type="hidden" name="id_producttext" value={{ id_producttext }}>
            {% endif %}
        </div>
    </div>
</div>